.content {
	display: flex;
	flex-direction: row;
	flex: 1 1 0;
}

.messages {
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
}

.messages .toolbar .left {
	flex: 1 0 auto;
}

.messages .toolbar .middle {
	flex: 3 1 auto;
	display: flex;
}

.messages .toolbar .right {
	flex: 1 0 auto;
	text-align: right;
}

.messages .toolbar input {
	border-radius: 3px;
	padding: 8px 0;
	text-align: center;
}

.messages .log {
	flex: 1 1 100%;
	padding: 24px 0;
	overflow-y: auto;
}
